header{
    padding: 20px 30px;
    background-color: #e5e7e7;
    .header-con{
        display: flex;
        justify-content: space-between;
        .logo{
            margin: 0;
        }
    }
    .cart-icon{
        width: 30px;
        cursor: pointer;
    }
    .total-items{
        position: absolute;
        color: #fff;
        padding: 4px 6px;
        background-color: #ff4646;
        font-size: 11px;
        border-radius: 75%;
        top: 15px;
        right: 38px;
    }
}